.categoria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center; }
  .categoria .imagen-categoria {
    padding: 14px;
    padding-bottom: 25px;
    position: relative;
    margin: 50px;
    border: solid 2px #f1e3e3;
    background-color: aliceblue; }

div ul li {
  float: left;
  list-style: none;
  margin: 150px;
  line-height: 1px;
  font-size: large;
  font-weight: 550;
  margin-top: 80px;
  margin-bottom: 80px; }
  div ul li .seccion {
    left: 10px;
    bottom: 10px;
    position: absolute;
    color: black;
    margin-left: 25px; }

.frutos-secos-producto, .legumbres-seccion, .semillas-producto, .infusiones-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px; }
  .frutos-secos-producto .producto-frutos, .legumbres-seccion .producto-frutos, .semillas-producto .producto-frutos, .infusiones-producto .producto-frutos {
    margin: 15px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    padding: 10px;
    padding-bottom: 25px;
    background-color: aliceblue;
    width: 300px;
    border: 2px solid #f1e3e3; }
  .frutos-secos-producto h2, .legumbres-seccion h2, .semillas-producto h2, .infusiones-producto h2 {
    text-align: center; }
  .frutos-secos-producto h3, .legumbres-seccion h3, .semillas-producto h3, .infusiones-producto h3 {
    padding-left: 50px;
    position: absolute;
    left: 0px;
    bottom: 0px; }

.legumbres-seccion .producto-legumbres {
  margin: 15px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  padding: 10px;
  padding-bottom: 25px;
  background-color: aliceblue;
  width: 300px;
  border: 2px solid #f1e3e3;
  align-content: center; }

.legumbres-seccion h2 {
  text-align: center; }

.legumbres-seccion h3 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 15px; }

.semillas-producto .semillas {
  margin: 15px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  padding: 10px;
  padding-bottom: 25px;
  background-color: aliceblue;
  width: 300px;
  border: 2px solid #f1e3e3; }

.semillas-producto h2 {
  text-align: center; }

.semillas-producto h3 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 10px; }

.infusiones-producto .infusion {
  margin: 14px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  padding: 10px;
  padding-bottom: 25px;
  background-color: aliceblue;
  width: 300px;
  border: 2px solid #f1e3e3; }

.infusiones-producto h2 {
  text-align: center; }

.infusiones-producto h3 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center; }

body {
  font-family: "Amatic SC", cursive;
  margin: 0px;
  background-image: url("../imagenes/fondo5.jfif");
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat; }

header {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: #bbf1c6;
  display: grid;
  grid-area: "header" "main" "footer"; }
  header .container-fluid {
    z-index: 2;
    background-color: #bbf1c6; }
  header .navbar-nav a {
    z-index: 2;
    margin-left: 30px; }

.espacio {
  clear: both; }

.destacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px; }
  .destacados .destacados-1 {
    padding: 10px;
    padding-bottom: 25px;
    position: relative;
    margin: 15px;
    margin-right: 100px;
    margin-left: 100px;
    border: solid 2px #f1e3e3;
    background-color: aliceblue; }
  .destacados h2 {
    text-align: center; }
  .destacados h3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding-left: 50px; }

footer {
  background-color: #bbf1c6; }
  footer footer ul li a {
    font-weight: 550;
    color: black; }
  footer .redes {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: center; }
  footer .container {
    display: flex;
    justify-content: flex-end; }

.separacion {
  clear: both; }

p {
  text-align: center; }

h2 {
  text-align: center;
  width: 100%;
  font-size: x larger; }

span {
  font-weight: 500; }

.col {
  border: solid 2px #f39659; }

.imagen-categoria:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.destacados-1:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

header div a:hover {
  background-color: #e5ffb0;
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.producto-legumbres:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.producto-frutos:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.semillas:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.infusion:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.redes-instagram:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.redes-facebook:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.redes-twitter:hover {
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center; }
  .contacto .contacto1 {
    margin: 10px;
    border: 2px solid black; }
  .contacto .contacto2 {
    border: 2px solid black; }

.icono {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center; }
  .icono .icono-contacto {
    padding: 14px;
    padding-bottom: 25px;
    position: relative;
    margin: 50px;
    border: 2px solid black; }
  .icono .img-icono {
    margin-left: 75px;
    margin-bottom: 10px; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .categoria {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 50px; }
  .destacados {
    justify-content: space-around;
    margin: 0px; }
  .destacados-1 {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px; }
  .legumbres-seccion {
    justify-content: space-around;
    margin: 0px; }
  .producto-legumbres {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px; }
  .frutos-secos-producto, .legumbres-seccion, .semillas-producto, .infusiones-producto {
    justify-content: space-around;
    margin: 0px; }
  .producto-frutos {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px; }
  .semillas-producto {
    justify-content: space-around;
    margin: 0px; }
  .semillas {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px; }
  .infusiones-producto {
    justify-content: space-around;
    margin: 0px; }
  .infusion {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px; } }

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .categoria {
    display: grid;
    justify-content: space-around;
    margin-left: 5px;
    padding-left: 150px;
    margin-top: 50px; } }

@media screen and (min-width: 480px) and (max-width: 712px) {
  body {
    background-image: none; }
  .categoria {
    display: grid;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 50px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: none; }
  header {
    width: 107%; }
  footer {
    width: 107%; }
  .categoria {
    display: grid;
    justify-content: space-around;
    margin-top: 50px;
    margin-right: 25px; }
  .destacados {
    display: flex;
    justify-content: center;
    justify-content: space-around; }
  .destacados-1 {
    display: flex;
    justify-content: space-around;
    justify-content: center; }
  .contacto2 {
    width: 80%; } }

.redes-twitter {
  color: #5287f8;
  padding: 5px; }

.redes-facebook {
  color: #2c2cee;
  padding: 5px; }

.redes-instagram {
  color: #db7082;
  padding: 5px; }

.boton, .boton-primario {
  border: solid 2px #fcefef;
  padding: 8px 16px;
  margin: 8px;
  background-color: #e3f5e4;
  text-shadow: 0.1em 0.1em 0.1em #fd9d9d; }

.boton-primario {
  background-color: #db7082;
  border-color: aqua; }

.container {
  color: black;
  display: flex;
  justify-content: center; }
