
.infusiones-producto{
    @extend .frutos-secos-producto;

    .infusion{
        margin:14px;
        margin-left: 100px;
        margin-right: 100px;
        position: relative;
        padding: 10px;
        padding-bottom: 25px;
        background-color:aliceblue;
        width: 300px;
        border:2px solid rgb(241, 227, 227);   
    }

    h2{
        text-decoration:underline;
    }
    h3{
        position: absolute;
        left: 0px;
        bottom: 0px;   
    }
}
