
body{
    font-family: $tipografia-general;
    margin:0px;
    background-image: url("../imagenes/fondo5.jfif");
    background-attachment: fixed;
    background-size: 100vw;
    background-repeat: no-repeat;
    
}

header{
    padding-bottom: 10px;
    padding-top: 10px; 
    height: 150px;
    width: 100%;
    text-align:center;
    background-color: $color-primary; 
    display:grid;
    grid-area: 
    "header"
    "main"
    "footer";     

    .container-fluid{
        z-index: 2;
        background-color:$color-primary ;  
    }
}
.navbar-nav a{
    z-index: 2;
    margin-left: 100px;

}

.espacio{
    clear: both;
}

.destacados{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;

    .destacados-1{
        padding: 10px;
        padding-bottom: 25px;
        position: relative;
        margin: 15px;
        margin-right: 100px;
        margin-left: 100px;
        border:solid 2px rgb(241, 227, 227);
        background-color:aliceblue;     
    }

    h2{
        text-align: center;
    }
    h3{
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0px; 
        padding-left: 10px;
    }
}


footer{
   background-color:$color-primary;
   

    footer ul li a{
        font-weight: 550;
        color: black;
        
    }

    .redes{
        list-style:none;
        text-align:left;
        display: flex;
        justify-content: center;
        
    }

    .container{
        display: flex;
        justify-content:left;
    }
}


.separacion{
    clear: both;
}
p{
    text-align: center;
}

h2{
    text-align: center;
    width: 100%;
    font-size: x larger;
}

span{
    font-weight: 500;
}

.col{
    border:solid 2px rgb(243, 150, 89);
}