@import "variable" ;
@import "categorias";
@import "frutos-secos";
@import "legumbres";
@import "semillas";
@import "infusiones";


body{
    font-family: $tipografia-general;
    margin:0px;
    background-image: url("../imagenes/fondo2.jpg");
    background-attachment: fixed;
    background-size: 100vw;
    background-repeat: no-repeat;
    
}

header{
    padding-bottom: 10px;
    padding-top: 10px; 
    height: 150px;
    width: 100%;
    text-align:center;
    background-color: $color-primary; 
    display:grid;
    grid-area: 
    "header"
    "main"
    "footer";     

    .container-fluid{
        background-color: rgb(187, 241, 198);
    }
}

.espacio{
    clear: both;
}

.destacados{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;

    .destacados-1{
        padding: 10px;
        padding-bottom: 25px;
        position: relative;
        margin: 15px;
        margin-right: 100px;
        margin-left: 100px;
        border:solid 2px rgb(241, 227, 227);
        background-color:aliceblue;     
    }

    h2{
        text-decoration:underline;
        text-align: center;
    }
    h3{
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0px;  
    }
}


footer{
   background-color:rgb(187, 241, 198);
   

    footer ul li a{
        font-weight: 550;
        color: black;
    }

    .redes{
        list-style:none;
        text-align:left;
    }
}


.separacion{
    clear: both;
}
p{
    text-align: center;
}

h2{
    text-align: center;
    width: 100%;
    font-size: x larger;
}

span{
    font-weight: 500;
}

.col{
    border:solid 2px rgb(243, 150, 89);
}



.imagen-categoria:hover{
    transform: scale(1.1);
    transition:all .5s ease-in-out 
        
}

.destacados-1:hover{
    transform: scale(1.1);
    transition:all .5s ease-in-out  
}

header div a:hover{
    background-color: rgb(229, 255, 176);
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}

.producto-legumbres:hover {
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}

.producto-frutos:hover{
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}

.semillas:hover{
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}

.infusion:hover{
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}


@media screen and (min-width:768px) and (max-width:1024px) {

    .categoria{
        display:grid;
        justify-content: space-around;
        margin-left:10px;
        margin-top: 50px;
    }

    .destacados{
        justify-content: space-around;
        margin: 0px;
    }

    .destacados-1{
        display:grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }

    
    .legumbres-seccion{
        justify-content: space-around;
        margin: 0px;
        
    }

    .producto-legumbres{
        display:grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
        
    }

   
    .frutos-secos-producto{
        justify-content: space-around;
        margin: 0px;

    }

    .producto-frutos{
        display: grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }

   
    .semillas-producto{
        justify-content: space-around;
        margin: 0px;

    }

    .semillas{
        display: grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }

    
    .infusiones-producto{
        justify-content: space-around;
        margin: 0px;
    }

    .infusion{
        display: grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }

}


@media screen and (min-width:1024px) and (max-width:1440px){

    .categoria{
        display:grid;
        justify-content: space-around;
        margin-left: 5px;
        padding-left: 150px;
        margin-top: 50px;
    }

}


@media screen and (min-width:480px) and (max-width:712px){

    body{
        background-image:none;
    }

    .categoria{
        display: grid;
        justify-content: space-around;
        margin-left:10px;
        margin-top: 50px;
          
    }

      
}


@media screen and (min-width:320px) and (max-width:480px){

    body{
        background-image:none;
    }

    .categoria{
        display:grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-top: 50px;
          
    }
    
    .destacados{
        justify-content: space-around;
        margin: 0px;
    }

    .destacados-1{
        display:grid;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }


    
      
}



$redes:(
    twitter:#5287f8,
    facebook:#2c2cee, 
    instagram:#db7082, 
);
@each $red, $color in $redes {
    .redes-#{$red}{
        color:$color;
        padding: 5px;
    }
}


.boton{
    border: solid 2px black;
    padding: 8px 16px;
    margin: 8px;
    background-color: #bff5c2;
}

.boton-primario{
    @extend .boton;
    background-color: #db7082;
    border-color: aqua;
}


@mixin size ($margin) {
   margin-left:100px;
    
}
.container{
    @include size (100px);
    color:black;
    display: flex;
    justify-content: center;
}